.Anchor_link2 {
	border-left-style: solid;
	border-right-style: solid;
	border-left-width: 2px;
	border-right-width: 2px;
	border-color: #ffdb49;
}

.TypingCarousel {
	display: inline;
	border-right-style: solid;
	border-right-width: 2px;
	border-color: #ffdb49;
}

.Profile {
	background-color: black;
	color: #ffdb49;
	height: 722px; 
}
